@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Heebo";
  }
}

html,
body {
  overscroll-behavior: none !important;
  @apply bg-mainDark;
}

.header {
  @apply bg-headerFullBackground w-full h-[450px] bg-cover bg-center-center relative;
}

.headerWords {
  @apply box-border absolute h-56 xl:h-[300px] top-[20%] left-40 xl:left-60 mobile:left-10 after:absolute after:bg-inherit after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:bg-gray-400 after:w-72 after:h-80 after:rounded-full after:blur-3xl flex flex-col justify-between items-center;
}

.mainLoginButton {
  @apply box-border bg-main w-auto h-auto p-1 px-4 rounded-full text-white font-bold z-10;
}

.listItem {
  @apply text-mainWhite text-2xl md:text-lg mobile:text-base font-bold;
}

.LoginInput {
  @apply w-72 h-7 tablet:w-60 mobile:w-64 mobile:h-6 bg-gray-300 opacity-80 rounded-full pl-2 pr-2;
}

.loginButton {
  @apply relative w-40 h-9 mobile:w-32 mobile:h-7 bg-main flex justify-center items-center text-white text-xl font-semibold mt-4 after:w-24 after:h-24 after:bg-third after:rounded-full after:absolute overflow-hidden z-10 after:blur-xl after:-z-10 border-third border-2 border-opacity-50;
}

.nextButton {
  @apply relative w-24 h-8 bg-main flex justify-center items-center text-white text-xl font-semibold mt-8 after:w-10 after:h-24 after:bg-third after:rounded-full after:absolute overflow-hidden z-10 after:blur-xl after:-z-10 border-third border-2 border-opacity-50;
}

.calendarText {
  @apply w-6 h-6 mx-1 flex items-center justify-center;
}

.calendarWorkoutCreationText {
  @apply text-lg text-center w-8 h-7 mx-1;
}

.calendarTextSelected {
  @apply bg-main rounded-full text-mainWhite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cardShadow {
  box-shadow: 0 0 6px rgba(156, 156, 156, 0.5);
}

.calendarDayAvailable {
  @apply hover:cursor-pointer hover:scale-110;
}

.calendarDayTaken {
  @apply opacity-30 cursor-auto;
}

.setRepText {
  @apply text-xs;
}

::-webkit-scrollbar {
  width: 5px;
}

.hide-scrollBar::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 4px !important;
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.arrowButton {
  @apply bg-contain w-10 h-10 bg-no-repeat self-center hover:scale-[1.2] hover:cursor-pointer transition-all;
}
